<footer>
    <div class="footer-content">
        <p class="copyright">© {{ now.Year }} Teamrat</p>
        <ul class="socials">
            <li>
                <a href="https://www.instagram.com/teamrat.ghezzehei/" target="_blank" rel="noopener" title="Instagram">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="https://bsky.app/profile/teamrat.bsky.social" target="_blank" rel="noopener" title="Bluesky">
                    <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
