<header>
    <a href="/" class="site-title">{{ .Site.Title }}</a>
    <p class="site-subtitle">{{ .Site.Params.subtitle }}</p>
</header>

<nav>
    <ul>
        {{- range .Site.Menus.main }}
        <li><a href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} class="active"{{ end }}{{ if $.HasMenuCurrent "main" . }} class="active"{{ end }}>{{ if eq .Name "Home" }}<i class="fa-solid fa-house"></i>{{ else }}{{ .Name }}{{ end }}</a></li>
        {{- end }}
    </ul>
</nav>

<div class="divider"><hr></div>
